/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  padding: 100px 0 0 0;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family);
  font-variation-settings: 'wght' var(--main-font-text-wgth);
  background-color: var(--primary-background-color);
  color: var(--secondary-color);
  background-image: 
    repeating-linear-gradient(90deg, var(--light-repeating-linear-gradient) 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, var(--light-repeating-linear-gradient) 0 2px, transparent 2px 4px),
    var(--light-linear-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--content-background-color);
  border: 2px solid #000;
  inline-size: var(--content-inline-size);
  padding: 136px 0 25px 0;
  margin-bottom: 104px;
}

.header__logo {
  font-family: var(--accent-font-family);
  text-transform: uppercase;
  text-decoration: none;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-bottom: 20px;
}

.header__title {
  font-family: var(--accent-font-family);
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-bottom: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:14px;
}